name: ec_ai_frontend
description: A new Flutter project for EC Search and Boundary Visualization.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  provider: ^6.0.5
  url_launcher: ^6.2.1
  google_fonts: ^6.1.0
  glassmorphism: ^3.0.0
  animate_do: ^3.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/locations.json
